*, ::before, ::after {
    margin: 0;
    padding: 0;
  }

.Content{
    width: 100vw;
    height: 100vh;
}

.StatsHeader{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    height: 6vh;
    background-color: rgb(0, 0, 0);
    color: white;
    font-size: 30px;
    overflow-x: hidden;
}

.ModHeader{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(0, 0, 0);
    color: white;
    font-size: 30px;
}

.home{
    margin: 5px;
    font-size: 15px;
    width: 50px;
    height: 35px;
    color: black;
    align-items: start;
    justify-content: center;
    background-color: white;
    display: flex;
    margin-left: 0;
    margin: 10px;
    font-weight: bold;
}

.home:hover{
    background-color: rgb(0, 146, 61);
    color: black;
    font-weight: bold;
    border: none;
}

.title{
    margin-right: 42.5%;
}

.tools{
    overflow-x: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 9vh;
    background-color: rgb(255, 255, 255);
}

.btn-coll{
    height: 40px;
    width: 135px;
    margin: 5px;
    margin-left: 25px;
    margin-right: 25px;
    align-items: center;
    justify-content: center;
    display: flex;
    border: none;
    font-weight: bold;
}

.btn-coll:hover{
    background-color: rgb(0, 146, 61);
    color: black;
    font-weight: bold;
    border: none;
}

.charts-space{
    width: 100vw;
    height: 100vh;
}

.cajeros-mod{
    margin: 10px;
    width: 100vw;
    height: 100vh;
}
